html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- Reset css -- Reset css -- Reset css -- Reset css -- Reset css -- Reset css -- Reset css -- Reset css -- Reset css -- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #231123;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
p {
    display: none;
    color: #558c8c;
    width: 40vh;
    margin-top: 10vh;
    margin-left: 2vh;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1;
    opacity: 0;
}
div {
    background-color: #82204A;
    border: 2px solid #558c8c;
    height: 95vh;
    width: 130vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
img {
    border: 2px solid #558c8c;
    border-right: none;
    width: 100vh;
    height: 70vh;
    border-radius: 5px;
}
section {
    border: 2px solid #558c8c;
    border-radius: 50px;
}
section:hover {
    cursor: pointer;
}
#skills:hover .slide_h2 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#skills:hover #skills_text {
    display: block;
    animation-name: slide_text;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#about_me:hover .slide_h2 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#about_me:hover #about_me_text {
    display: block;
    animation-name: slide_text;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #82204A;
    margin: 10px;
}
#design_one {
    color: #231123;
}
#skills {
    align-self: flex-start;
    position: fixed;
    left: 54.6vh;
    top: 25vh;
}
#skills :first-child{
    position: relative;
    z-index: 6;
}
#skills :nth-child(2){
    z-index: 5;
    color: #558c8c;
    position: fixed;
    left: 54.9vh;
    top: 25.3vh;
}
#designbis_one {
    color: #231123;
}
#about_me {
    position: fixed;
    left: 54.6vh;
    top: 50vh;
}
#about_me :first-child{
    position: relative;
    z-index: 6;
}
#about_me :nth-child(2){
    z-index: 5;
    color: #558c8c;
    position: fixed;
    left: 54.9vh;
    top: 50.4vh;
}
@keyframes slide {
    from {
        left: 54.6vh;
    }
    to {
        left: 5vh;
        transition: opacity 1s;
        opacity: 1;
    }
}
@keyframes slide_text {
    from {
        left: 5vh;
    }
    to {
        display: block;
        left: 5vh;
        transition: opacity 1s;
        opacity: 1;
    }
}